/* Desktop */

.typeButtons {
float: left;
text-align: center;
}
span.glyphicon {
  font-size: 150%;
}

.controlButtons {
margin-left: 20px;
text-align: center;
}



#googleMap {
	width:800px;
	height:600px;
}